.container-parallax {
    background-image: url('../../assets/BanderaMexico.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.cont-text {
    text-align: center;
    color: #fff;
    margin: 0px 15px;
    max-width: 800px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.title-exhibitor {
    font-size: 41px;
    font-weight: 750;
}



.border-bottom {
    width: 45px;
    margin: 20px auto;
}

.exhibitor-description {
    font-size: 19px;
}