.exhibit-parallax {
    background-image: url('../../assets/black_exhibitor.webp');
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: -480px;
    background-repeat: no-repeat;
}

.container-text {
    height: 100%;
    color: #fff;
}

.list-reasons li {
    display: flex;
    align-items: center;
}

.list-reasons {
    padding: 50px;
}

.list-reasons svg {
    width: 95px;
    padding-right: 30px;
}

@media (max-width:767px) {

    .list-reasons {
        padding: 10px;
    }

    .list-reasons svg {
        width: 180px;
        padding-right: 30px;
    }
}

li {
    padding: 22px 5px;
    align-items: center;
}

.title-reasons {
    font-size: 35px;
    font-weight: 700;
    color: #e8001e;
}

.container-exhibitor {
    background-image: url('../../assets/exhibitor.webp');
    background-size: cover;
    height: 100%;
    background-position: center right;
    background-repeat: no-repeat;
}