.bg-startup-participar{
    background: url('/bgstartup-participar.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 2em 0;
}
.startup-expediente{
    background: url('/bgstartup-expediente.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 2em 0;
    text-align: center;
}

.startup-expediente a{
    background-color: #78cada;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;        
}
.header-startup{
    background-color: #78cada;
    padding: 80px 50px 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.startup-links{
    background-color: #78cada;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: bold;    
}
.wrapper-startup-links{
    margin-top: 2em;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));    
    gap: 20px;
}
.startup-links-first{
    display: flex;
    justify-content: end;
}
.startup-links-first a{
    color: red;
    text-decoration: none;
    font-weight: bold;
    
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: #303030;
}