.whyvisit-bg{
    background: url("/bgwhyvisit.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    color: white;
}
.whyvisit-bg2{
    background: url("/bgwhyvisit2.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
}

.whyvisit-list {
    list-style-image: url("/redbullet.webp");
}