.whyvisit-bg{
    background: url("/bgwhyvisit.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    color: white;
}


.whyvisit-list {
    list-style: none;
    padding-left: 0;
}
.whyvisit-list li{
   padding: 5px;
   padding-left: 0;
}