.whyvisit-bg{
    background: url("/bgwhyvisit.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    color: white;
}


.whyvisit-list {
    list-style: none;
}
.whyvisit-list li{
    display: flex;
}