.home-register {
    background-color: #e8001e;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}

.home>h2,
h3 {
    color: #727272;
    text-align: center;
    font-weight: bold;
}

.home-counter-video {
    position: relative;
    top: 0;
    height: 100vh;
    display: grid;
    place-items: end;
    overflow: hidden;
}

.home-counter-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-counterdown-timer {
    position: relative;
    z-index: 5;
}

.counterdown-timer div {
    position: relative;

}

.counterdown-timer p {
    position: relative;
    top: -45%;
    font-size: 30px;
    font-weight: bold;
    color: #e8001e;
    text-transform: uppercase;
    text-shadow: 4px 4px 8px black;
}

.counterdown-title{
    text-shadow: 4px 4px 10px black;
}
.timer-numbers {
    color: white;
    font-size: 8em;
    font-weight: bold;
    text-shadow: 4px 4px 10px black;
}
.home-wrapper-logos{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(250px));
    gap: 20px;    
    justify-content: center;
}
.home-wrapper-logos > img{
    width: 100%;
    height: auto;
}


.home-gallery {
    background-color: black;
    text-align: center;
}

.home-gallery h3 {
    color: #e00d1b;
    text-align: center;
}

.home-contactos {
    background-image: url('/bgcontactos.webp');
    background-size: cover;
    color: white;
}

.home-contactos a {
    text-decoration: none;
}

.home-gallery-seemore {
    background: linear-gradient(#565656, #262626);
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;

}

@media (width < 940px) {
    .home-counter-video video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .timer-numbers {
        font-size: 4em;
        line-height: 1;
    }

    .counterdown-timer p {
        font-size: 15px;
        top: -40%;
    }

}