.home-files-download{
    display: flex;
    bottom: 0;
    margin-top: 30px;
}
.home-files-download a{
    text-decoration: none;
    color: white;
}
.home-register{
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: red;
    position: relative;
    padding: 10px;    
}
.home-register::after {
    background-color: #0D61FF;
    border-radius: 20px;
}
.home-register::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(.05);
    transform-origin: bottom;
    content: '';
    z-index: 2;
    opacity: .9;    
    transition: .3s
}
.home-register:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

.home-register span{
    position: relative;
    z-index: 5;
}

.home>h2,
h3 {
    color: #727272;
    text-align: center;
    font-weight: bold;
}
.img-gallery{
    object-fit: cover;
}
.home-counter-video {
    position: relative;
    top: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.home-counter-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-counterdown-timer {
    position: relative;
    z-index: 5;
    text-shadow: 4px 4px 8px black;
}

.counterdown-timer {
    line-height: 0.9;
    gap: 40px;

}

.counterdown-timer div {
    position: relative;

}

.counterdown-timer p {
    margin: 0;
    position: relative;
    top: -45%;
    font-size: 30px;
    font-weight: bold;
    color: #e8001e;
    text-transform: uppercase;

}

.counterdown-title {
    color: #e8001e;
}

.timer-numbers {
    text-align: center;
    color: white;
    font-size: 10em;
    font-weight: bold;
}

.home-wrapper-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(250px));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.home-wrapper-logos>img {
    width: 200px;
    height: auto;
}


.home-gallery {
    background-color: black;    
}

.home-gallery h3 {
    color: #e00d1b;
    text-align: center;
}

.exibitorSlider {
    display: grid;
    place-items: center;
}
.exibitorSlider img{
    margin: 0 30px;
}

.home-contactos {
    background-image: url('/bgcontactos.webp');
    background-size: cover;
    color: white;
}

.home-contactos a {
    text-decoration: none;
}

.home-gallery-seemore {
    background: linear-gradient(#565656, #262626);
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;

}
.counterdown-description{
    font-size: 20px;
}
.carousel-indicators{
    bottom: -33px;
}
.carousel-indicators [data-bs-target]{
    background-color:black;
}
.home-newsletter{
    position: fixed;
    right: -220px;
    top: 17%;
    z-index: 999;
    width: auto;
    background-color: black;
    border-radius: 10px;    
    padding: 10px;
    transition: transform 0.9s ease-in-out;
    
}
.home-newsletter a{
    text-decoration: none;
    color: white;
}
.home-newsletter:hover{
    cursor: pointer;
    transform: translateX(-220px);
}

.item-num{
    height: 250px;
    background-color: rgba(177, 177, 177, 0.908);
    margin: 6px;
    border-radius: 5px;
}

.align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.with-background {
    height: 350px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(48, 8, 168, 0) 40%),url('/item_num.webp');
    background-size: cover;
    background-position: center; 
    color: #fffF;
}


.with-background2 {
    height: 350px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(48, 8, 168, 0) 40%),url('/item-num2.webp');
    background-size: cover;
    background-position: center; 
    color: #fffF;
}

.with-background3 {
    height: 350px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(48, 8, 168, 0) 40%),url('/item_num3.webp');
    background-size: cover;
    background-position: center; 
    color: #fffF;
}

.with-background4 {
    height: 350px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(48, 8, 168, 0) 40%),url('/item_num4.webp');
    background-size: cover;
    background-position: center; 
    color: #fffF;
}

.with-background5 {
    height: 350px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 8%, rgba(48, 8, 168, 0) 40%),url('/item_num5.webp');
    background-size: cover;
    background-position: center; 
    color: #fffF;
}


@media (width < 940px) {
    .home-counter-video video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .timer-numbers {
        font-size: 4em;
        line-height: 1;
    }

    .home-counter-video {
        place-items: center;
    }
}

@media (max-width: 425px) {
    .home-register{
        display: block;
        margin-top: 15px;
    }
    .timer-numbers {
        font-size: 3em;
        line-height: 1;
    }

    .counterdown-timer {
        gap: 30px;
    }

    .counterdown-timer p {
        font-size: 15px;
        top: 0;
        margin: 0;
    }

    .home-digital-logo {
        width: 100%;
    }

    .with-background, .with-background2, .with-background3, .with-background4, .with-background5 {
        height: 150px;
        
    }

}

@media (max-width: 375px) {
    .counterdown-timer {
        gap: 10px;
    }
}