.footer-socialmedia svg {
    fill: #dd3333;
    width: 30px;
    margin: 10px;
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

footer a:hover {
    color: #e8001e;
}

.footer-language {
    padding: 10px 0;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272;
}
.footer-wrapper-info-contact{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}
.language-option-footer button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #e8001e;
}